*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-font: 'Poppins', sans-serif;
    --title-font: 'Bebas Neue', sans-serif;
    --blue: #009999;
    --background: #04d4d4;
}

header{
    background-color: var(--background);
    height: 12vh;
    display: flex;
    padding: 12px 90px;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 3rem;
}

.nomes{
    font-family: var(--text-font);
    font-weight: bolder;
    text-transform: uppercase;
}

.titulo{
    font-family: var(--title-font);
    color: var(--blue);
    text-align: center;
    font-size: 1.4rem;
}

.description{
    font-family: var(--text-font);
    font-size: .8rem;
    text-align: center;
    padding-top: 12px;
    width: 50%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 150px;
}

img{
    margin: 12px auto;
    height: 18rem;
}

.texto{
    font-family: var(--text-font);
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-size: 18px;
}

.barra{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 2rem;
}

.relatos h1{
    font-family: var(--title-font);
    text-align: center;
    color: var(--blue);
}

.grid{
    padding: 18px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  .grid h2{
    background: #04d4d4;
    font-size: 26px;
    font-weight: normal;
  }

  .grid p{
      padding: 4px 0px;
      font-family: var(--text-font);
      font-size: 16px;
      text-align: justify;
  }

  .obj h1{
      font-family: var(--title-font);
      color: var(--blue);
      text-align: center;
  }

  .obj p{
      font-family: var(--text-font);
      font-size: 18px;
      text-align: center;
      padding: 4px 58px;
  }

  footer{
      display: grid;
      place-items: center;
      height: 4rem;
      background-color: var(--background);
      font-size: 18px;
      font-family: var(--text-font);
      font-weight: bold;
  }